{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "strict": [0, "global"],
    "no-debugger": 0,
    "no-console": 0,
    "comma-dangle": ["error", "only-multiline"],
    "new-cap": 0,
    "no-unused-vars": 1,
    "prefer-arrow-callback": 0,
    "func-names": 0,
    "eol-last": 0,
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "no-use-before-define": 0,
    "no-tabs": 0,
    "no-mixed-spaces-and-tabs": 0,
    "quotes": [0, "single"],
    "jsx-quotes": [0, "prefer-single"],
    "react/sort-comp": 0,
    "react/no-multi-comp": 0,
    "react/require-extension": 0,
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
  }
}
